<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]='["/"]'>SMEC View</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
          <ul class='nav navbar-nav'>
            
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/fetch-data"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-th-list'></span> Visualización
              </a>
            </li>
            <li *ngIf="this.auth.isLoggedIn()"  [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/focus"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-th-list'></span> Focos
              </a>
            </li>
            <li *ngIf="this.auth.isLoggedIn()"  [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/cf"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-th-list'></span> Función de Calibración
              </a>
            </li>
            <li  *ngIf="!this.auth.isLoggedIn()" [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/login"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-th-list'></span> Login
              </a>
            </li>
            <li *ngIf="this.auth.isLoggedIn()">
              <a (click)="logout()">
              <span class='glyphicon glyphicon-log-out'></span> Logout
              </a>
              </li>
          </ul>
        </div>
    </div>
</div>
