
<div class="example-form" [formGroup]="sensorAddForm">
    <mat-form-field class="example-full-width">
      <input formControlName="measuringComponentId" matInput placeholder="Measuring Component" aria-label="MeasuringComponentModel"
        [matAutocomplete]="auto" [formControl]="stateCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let measuring of filteredMeasurings | async" [value]="measuring.name">
          <span>{{ measuring.name }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    </div>